<div class="navbar-fixed">
  <nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <img class="logo responsive-img" src="assets/images/logo.png">
      </a>
      <ul class="right">
        <li><a (click)="ouvrirLeBot()"><i class="material-icons">headset_mic</i></a></li>
        <li><a (click)="logout()" class="btn-floating waves-effect waves-light white z-depth-0"><img alt="image" [src]='donneUrlPhotoUtilisateur()'
                                                                                                     class="responsive-img"></a></li>

      </ul>
    </div>
  </nav>
</div>

