<navbar></navbar>
<entete-salle [salle]="salle"></entete-salle>
<div class="container">
  <div class="row">
    <div class="col s12">
    <description-salle [salle]="salle"></description-salle>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

      <h2>Would you like...</h2>

    </div>
  </div>


  <form>



  <div class="row">
    <div class="col s12">

      <button class="waves-effect waves-light btn-large" [disabled]="reservation.morning" (click)="reservation.morning = !reservation.morning"><i class="material-icons left">cloud</i>morning</button>
      <button class="waves-effect waves-light btn-large" [disabled]="reservation.afternoon" (click)="reservation.afternoon = !reservation.afternoon"><i class="material-icons right">cloud</i>afternoon</button>

    </div>
  </div>


  <div class="row">
    <div class="col s12">

      <div class="row" *ngFor="let facility of facilities">
        <div class="col s2">

          <div class="switch">
            <label>
              Off
              <input type="checkbox" [(ngModel)]="facility.selected" name="{{facility.name}}">
              <span class="lever"></span>
              On
            </label>
          </div>

        </div>
        <div class="col s8">
          {{facility.name}}
        </div>
        <div class="col s2 right-align">
           {{facility.price}}
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col offset-s6 s3">

      <h2>{{total()}}</h2>

    </div>
    <div class="col s3">

      <a>GO !</a>

    </div>
  </div>

  </form>


</div>
