<navbar></navbar>
<div class="row ">
  <div class="col s12 indigo-text grey-text text-darken-2">
      <h2><strong class="blue-text text-darken-3">Spooter.</strong><small>Trouver plus qu'un bureau</small> </h2>
  </div>
</div>
<div class="row ">
  <div class="col s12 indigo-text text-darken-4 center">
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="chatbot">Chatbot</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="quicksearch">QuickSearch</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="booking">Booking</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="alerte">Alerte</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="satisfaction">Satisfaction</a>
  </div>
</div>
<div class="row ">
  <div class="col s12 indigo-text text-darken-4 center">
  </div>
</div>

<div class="row ">
  <div class="col s12 indigo-text text-darken-4 center">
    <card-slider cards=""></card-slider>
  </div>
</div>
