<navbar></navbar>
<div class="row ">
  <div class="col s12 indigo-text text-darken-4 center">
      <h1>Bienvenue <br/>sur SPOOTER</h1>
  </div>
</div>
<div class="row ">
  <div class="col s12 indigo-text text-darken-4 center">
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="chatbot">Chatbot</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="quicksearch">QuickSearch</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="booking">Booking</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="alerte">Alerte</a>
    <a class="waves-effect waves-light btn-large white-text blue" routerLink="satisfaction">Satisfaction</a>
  </div>
</div>
<div class="row ">
  <div class="col s12 indigo-text text-darken-4 center">
    <a (click)="logout();" class="waves-effect waves-light btn-large white-text blue">Logout</a>
  </div>
</div>
