<navbar></navbar>
<div class="container">
  <div class="row ">
    <div class="col s12 indigo-text grey-text text-darken-2">
      <h2><strong class="blue-text text-darken-3">Spotter.</strong>
        <small>More than an office</small>
      </h2>
    </div>
  </div>

  <!-- desktop -->
  <div class="row hide-on-small-and-down grey-text text-darken-2 recherche">
    <div class="col m3 recherche-bordure">
      Location
      <input placeholder="Near me" id="localisation" type="text" class="validate">
    </div>
    <div class="col m3 recherche-bordure">
      Date
      <input type="date" id="date" class="datepicker" placeholder="Now">
    </div>
    <div class="col m3 recherche-bordure">
      Attendees
      <input placeholder="3 attendees" id="participants" type="number" class="validate">
    </div>
    <div class="col m3">
      Duration in hour
      <p class="range-field">
        <input type="range" id="duree" min="0" max="48" value="2"/>
      </p>
    </div>
  </div>
  <div class="row hide-on-med-and-down">
    <div class="col offset-l2 m8 indigo-text text-darken-4 center">
      <a class="waves-effect waves-light btn white-text blue rechercher" routerLink="reservation/resultat/localite/paris/date/05-05-2017/participants/3/duree/2">Rechercher</a>
    </div>
  </div>
  <!-- mobile -->
  <div class="row hide-on-med-and-up">
    <div class="col s12">
      <div class="row">
        <div class="col s12">
          <button class="btn white grey-text darken-3" data-target="recherche_popup">
            <i class="fa fa-search"></i>
            Near me. Now. 3 attendees. 2h
          </button>
        </div>
      </div>
      <div id="recherche_popup" class="modal modal-complete bottom-sheet">
        <div class="modal-content">
          <div class="row">
            <div class="col s12">
              <input placeholder="Location" id="localisation_mobile" type="text" class="validate">
            </div>
            <div class="col s12">
              <input type="date" id="date_mobile" class="datepicker" placeholder="Now">
            </div>
            <div class="col s12">
              <input placeholder="3 attendees" id="participants_mobile" type="number" class="validate">
            </div>
            <div class="col s12">
              Duration in hour
              <p class="range-field">
                <input type="range" id="duree_mobile" min="0" max="48" value="2"/>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer center">
          <a href="#!" class="btn-flat modal-action modal-close waves-effect blue darken-3 white-text">Search</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col s12 indigo-text text-darken-4 center">
      <card-slider [cards]="experiences" titre="Experience"></card-slider>
    </div>
  </div>

  <div class="row ">
    <div class="col s12 indigo-text text-darken-4 center">
      <card-slider [cards]="experiences" titre="Recommended for you"></card-slider>
    </div>
  </div>

  <div class="row ">
    <div class="col s12 indigo-text text-darken-4 center">
      <card-slider [cards]="experiences" titre="Your contact love"></card-slider>
    </div>
  </div>

</div>

