.carousel .indicators .indicator-item.active {
  color: #1565c0 !important;
}

.recherche {
  border: 1px solid lightgray;
  border-radius: 2px;
}

.recherche-bordure-padding {
  border-right: 1px solid lightgray;
  padding-top: 10px;
}

.recherche-padding {
  padding-top: 10px;
}

.recherche-padding input, .recherche-bordure-padding input {
  border-bottom: none;
}

.rechercher {
  margin-top: 20px;
}

.modal-complete {
  max-height: 100%;
}
